img{
    max-width: 100px;
}
.asistire{
    background-color: #D1DFEC;
    border-radius: 5%;

}

.noasistire{
    background-color: #D1DFEC;
    border-radius: 5%;

}
.home{
    background-color: #D1DFEC;
    border-radius: 5%;

}

a{
    text-align: center;
    text-decoration: none;
    color: white;
}