

section#scroller{
    background-image: url(images/lavila2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

div#vacio{
    width: 100%;
    height: 600px;
    
}

div#contenedor{
    width: 100%;
    height: 500px;
    background:transparent;

}

div#contenedor{
    width: 100%;
    height: 500px;
    background:rgb(0, 0, 0, .5);

}

div#info{
    width: 80%;
    height: 500px;
    
    margin:auto;
}

.statictext{
    font-size: 17px;
    color: #EFEFED;
    text-align: center;
    padding: 40px;
}

